*{
	padding:0px;
	margin:0px;
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    box-sizing: border-box;

}
body {
	
	
	
	
}

#bg {background-image: url("G:/GharBanao/DesignersPage/DesignerWebsite/designers/static/img/bg.png");
    background-repeat: repeat;
	padding-left:2%;
	padding-right:2%;
	
	
		
}

#coverpic {	
		background-image: url("C:/Users/aianisulislam/Desktop/DesignerCover.jpg");
		background-position: center;
		background-repeat:  no-repeat;
		box-shadow:0px 1px 10px ;
		background-size: cover;

		
		
}

#profile{
	
}

#basic{
	line-height:140%;
	float:left;
	width:280px;
	padding:8px;
	background-color:#008553;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	margin-right:20px;	
	}
	
#dp{
	background-image: url("C:/Users/aianisulislam/Desktop/DesignerDP.jpg");
	background-size: contain;
	background-repeat:  no-repeat;
	width:264px;
	height:264px;
	
}
#basictext{
	margin-left:0px;
}
#para{
	margin-right:10%;
	width:60%;
	
	
	
}
#details{
	margin-left:280px;
	padding:20px;
	padding-right:0px;
}
	
#stats{
	float:right;
	margin-left:10px;
	padding-right:20px;
	background-color:#ffffff;
	width:38%;
	min-width:282px;
	border-radius:20px;
	font-family:Ubuntu;
	font-size:90%;
}
	
 @font-face{
  font-family:DUBIEL;
  src:url(G:/GharBanao/DesignersPage/DesignerWebsite/designers/static/Fonts/DUBIEL.woff);
}
 @font-face{
  font-family:Ubuntu;
  src:url(G:/GharBanao/DesignersPage/DesignerWebsite/designers/static/Fonts/Ubuntu-R_0.woff);
  }
 @font-face {
			font-family:Nill;
		    src:url(G:/GharBanao/DesignersPage/DesignerWebsite/designers/static/Fonts/Nilland.woff);
 }
 @font-face {
			font-family:UbuntuL;
		    src:url(G:/GharBanao/Github/fonts/Ubuntu-L.woff);
 }


 
 
 @media (max-width:1280px){
	#para{
		
		width:60%;
	}
	

 }

 @media (max-width:1080px){
	
	#para{
		
		
		width:55%;
	}
 }
 
 @media (max-width:1024px){
	
	#para{
		
		
		width:50%;
	}
	
 }
 
 @media (max-width:960px){
	
	
	#stats{
		float:none;
		width:100%;
		margin-left:0px;
		margin-right:20px;
		
		
	}
	#para{
		
		width:100%;
	}
	
 }
 
 @media (max-width:768px){
	#stats{
		float:none;
		margin-top:0px;
		width:100%;
	}
	#para{
		
		width:100%;
	}
 }
	
 @media (max-width:667px){
 #profile{
		
		width:100%;
		
	}
 #stats{
		
		float:none;
		width:100%;
	}
 #para{
		
		width:100%;
	}
 }

@media (max-width:640px){
	#basic{
		float:none;
		width:100%;
		
	}
	#dp{
	 float:left;
	}
	#basictext{
		margin-left:280px;
		margin-top:-20px;
		
	}
	#details{
		margin:0px;
		padding:20px;
	}
	#stats{
		float:none;
		width:100%
	}
 }
@media (max-width:585px)
 {
	 #dp{
		width:50%
	 }
	 #basictext{
		margin-left:52%;
	 }
	 #details{
		margin:0px;
		padding-left:5%px;
		padding-left:5%px;
	 }
 }

 @media (max-width:565px)
 {
	 #dp{
		width:30%
	 }
	 #basictext{
		margin-left:34%;
	 }
 }
 
 @media (max-width:425px)
 {
	 #dp{
		width:30%
	 }
	 #basictext{
		margin-left:34%;
		
	 }
 }

