<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChangePassword</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'changepassword.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{% url 'designers:index' %}" class="navbar-brand">
                <img src="{% static 'img/gharBanaoIcon.png' %}">
            </a>
        </div>
         <br>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'designers:registeration' %}">PORTFOLIO</a></li>
            <li><a href="#">HELPDESK</a></li>

            <li class="dropdown">
          <a href="#"  data-toggle="dropdown">PROFILE<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'designers:logout' %}">Sign out</a></li>
              <li class="divider"></li>
            <li><a href="{% url 'designers:password_change' %}">Change Password</a></li>
            <li><a href="#">Edit Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">Your Buys</a></li>
            <li><a href="#">Our Designers</a></li>
               <li class="divider"></li>
              <li style="margin-left:13%">Your Points:100</li>

          </ul>
        </li>
        </ul>

    </div>



</nav>
<div align=center style="width:1366px">
<form name = "form" action = "{% url 'designers:password_change' %}"
         method = "POST" style="background-color:rgba(255,255,255,0.7);margin-top:120px;width:48.48%;border-radius:20px"  id="opening"  onsubmit="return myFunction()">
    {% csrf_token %}
          <div style="background:#008553 ;width=40%;border-top-left-radius:20px;border-top-right-radius:20px">

        <p style="color:#FFFFFF;padding-bottom:10px;padding-top:10px;font-size:250%">Change Password</p>

         </div>

         <div style = "max-width:100%;font-size:100%">
             <p align=left style="padding-left:10%;margin-bottom:0px"> Current Password:</p>

            <center>

               <input type = "password" style = "height:36px;background-color:#F1F6FA;width:80%;border-radius:6px"
                  placeholder = "password" name = "old_password" />
            </center>
         </div>

         <br>


         <div style = "max-width:100%;font-size:100%">
             <p align=left style="padding-left:10%;margin-bottom:0px"> New Password:</p>
            <center>
               <input id ="pass1" type = "password" style = "height:36px;background-color:#F1F6FA;width:80%;border-radius:6px"
                  placeholder = "New Password" name = "new_password" />
            </center>
         </div>
    <br>

         <div style = "max-width:100%;font-size:100%">
             <p  align=left style="padding-left:10%;margin-bottom:0px"> Confirm Password:</p>
            <center>
               <input id ="pass2" type = "password" style = "height:36px;background-color:#F1F6FA;width:80%;border-radius:6px"
                  placeholder = "Confirm Password"  />
            </center>
         </div>

         <div id="demo"></div>
         <script>
             function myFunction() {
    var pass1 = document.getElementById("pass1").value;
    var pass2 = document.getElementById("pass2").value;
    var ok = true;
    if (pass1 != pass2) {

        document.getElementById("demo").innerHTML = "Password do not match";
        document.getElementById("pass1").style.borderColor = "#E34234";
        document.getElementById("pass2").style.borderColor = "#E34234";

        ok = false;
    }

    return ok;
}

         </script>


         <div style = "max-width:100%;padding:40px">
            <center>

               <button style = "border:0px; background-color:#008553; margin-top:8%;
                  height:42px; width:80%;color:#FFFFFF;border-radius:6px"  type = "submit"
                  value = "Login"  >
                  <strong>Change Password</strong>
               </button><br>
            </center>

         </div>

      </form>
</div>
</body>
</html>