
<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ghar Banao Designers</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{% url 'designers:index' %}" class="navbar-brand">
                <img src="{% static 'img/gharBanaoIcon.png' %}">
            </a>
        </div>
         <br>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'designers:ourDes' %}">OUR DESIGNERS</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="{% url 'designers:login' %}">LOGIN</a></li>
			<li><a href="{% url 'designers:register' %}">REGISTER</a></li>
        </ul>

    </div>


</nav>

   <br>
   <br>
   <br>
       <div align=center>
	<div style="width:1366px; box shadow: 5px 5px 10px rgba(0,0,0,0.5)">
       <div  id ="designerDashboard">
	   </div>
	   <br>
             <br>
			 <u  id="in"><h1 id="intro"> &nbsp;BE A PART OF GHAR BANAO&nbsp; </h1></u>
			 <p id="opening">
			  Ghar banao aims to revolutionize the Indian interior design industry through a medley of  cutting edge innovation and exemplary interior design language. And we firmly believe that a great design has the potential to transform the ordinary into brilliance.
			And so we are on a constant lookout for dynamic and talented professionals who can align themselves to our ideals and be a part of Team Ghar Banao.
			 </p>
			 <br>
			 <br>
			 <br>
			<div id="outerpoints" style="min-height:640px">
			  <br>

			  <h1 id="pointheader">PERKS OF WORKING WITH US</h1>


				<br>
				<br>
				<div align=center style="padding-top:20px;width:90%;border-radius:20px;background-color: rgba(255,255,255,0.7)">
			     <div class="points">
				         <img src="{% static 'img/1.png' %}"  style="height:100px;width:100px">
				        <p style="padding:20px;font-weight:bold;font-family:points;font-size:110%">
					    Expand your business&#39;s reach throughout India.
					 </p>
				  </div>


				  <div class="points">
				         <img src="{% static 'img/2.png' %}"  style="height:100px;width:100px">
				        <p style="padding:20px;font-weight:bold;font-family:points;font-size:110%">
					   Work anytime you want, from anywhere you wish.
					 </p>
				  </div>


				  <div class="points">
				         <img src="{% static 'img/3.png' %}"  style="height:100px;width:100px">
				        <p style="padding:20px;font-weight:bold;font-family:points;font-size:110%">
				       Build your business with your own name and branding.
					   <p>
				  </div>


				  <div class="points">
				         <img src="{% static 'img/4.png' %}"  style="height:100px;width:100px">
				        <p style="padding:20px;font-weight:bold;font-family:points;font-size:110%">
					     Strengthen your portfolio by working on interesting projects.
						 <p>
				  </div>


			       <div class="points">
				         <img src="{% static 'img/5.png' %}"  style="height:100px;width:100px">
				        <p style="padding:20px;font-weight:bold;font-family:points;font-size:110%">
						     Local customer and marketing support.
						</p>
				  </div>


				  <div class="points" >
				         <img src="{% static 'img/6.png' %}"  style="height:100px;width:100px">
				        <p style="padding:20px;font-weight:bold;font-family:points;font-size:110%">
						    Payment fulfilled by Ghar Banao at every step.
						</p>
				  </div>


				  <div class="points">
				         <img src="{% static 'img/7.png' %}"  style="height:100px;width:100px">
				        <p style="padding:20px;font-weight:bold;font-family:points;font-size:110%">
					       Customer Feedback and ratings on every project.
					   <p>
				  </div>


				  <div class="points">
				         <img src="{% static 'img/8.png' %}" style="height:100px;width:100px">
				        <p style="padding:20px;font-weight:bold;font-family:points;font-size:110%">
						Showcase your work for free on your Profile Page.
						</p>
				  </div>
			    </div>



                <br>


			</div>


			<div align=center >

					<div style="padding:20px;width:100%; background-color:white">
						<h1 id="joiningHeader">HOW TO JOIN</h1>
						<p id="tag">Join the journey and make yourself known </p>
					</div>
					<div id="howitworks">
						<div class="howdiv">

							<img src="{% static 'img/Apply_here.png' %}" style="height:90px;width:90px">
				   			<br>
							<h3 class="applyhere">APPLY HERE</h3>
							<p class="how">
							Designers from acorss India willing to be a part of Ghar Banao have to fill a short online form.
							</p>
						</div>
						<div class="howdiv">

							<img src="{% static 'img/Get_verified.png' %}" style="height:90px;width:90px">

							<br>
							<h3 class="applyhere">GET VERIFIED</h3>
							<p class="how">
							Since we are conscious about quality, designers portfolio and other documents will be verified before proceeding.
							</p>
						</div>
						<div class="howdiv">

							<img src="{% static 'img/Start_Working.png' %}" style="height:90px;width:90px">

							<br>
							<h3 class="applyhere">START WORKING</h3>
							<p class="how">
							Build your own profile, upload portfolio and start working on the orders from our clients.
							</p>
						</div>
					</div>
					<div align=center style="padding:50px 0px 70px 0px;width:100%;background-color:white">
						<a id="learn" href="" >Learn More</a>
					</div>
			</div>

			<div align=center id ="Join" style="padding-top:100px;width:1366px;height:355px">
				<h1 style="font-family:DUBIEL;font-size:600%;color:#ffffff;line-height:80%;margin-bottom:60px">READY TO GO?</h1>
				<a href="{% url 'designers:register' %}" >APPLY NOW</a>
			</div>

	</div>
	</div>
</body>
</html>