<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'profile.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{% url 'designers:index' %}" class="navbar-brand">
                <img src="{% static 'img/gharBanaoIcon.png' %}">
            </a>
        </div>
         <br>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">PORTFOLIO</a></li>
            <li><a href="#">HELPDESK</a></li>
            <li class="dropdown">
          <a href="#"  data-toggle="dropdown">PROFILE<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'designers:logout' %}">Sign out</a></li>
              <li class="divider"></li>
            <li><a href="#">Change Password</a></li>
            <li><a href="#">Edit Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">Your Buys</a></li>
            <li><a href="#">Our Designers</a></li>
               <li class="divider"></li>
              <li style="margin-left:13%">Your Points:100</li>

          </ul>
        </li>
        </ul>

    </div>



</nav>
   {% extends 'designers/base.html}
   <br>
   <br>
   <br>
<img src={{profilepic}}>






You are : {{designerID}}
</body>
</html>