<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="G:/GharBanao/Github/style/ourdesigners.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{% url 'designers:index' %}" class="navbar-brand">
                <img src="{% static 'img/gharBanaoIcon.png' %}">
            </a>
        </div>
         <br>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'designers:index' %}">HOME</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="{% url 'designers:login' %}">LOGIN</a></li>
			<li><a href="{% url 'designers:register' %}">REGISTER</a></li>
        </ul>

    </div>


</nav>


<br>
<br>
<br>
<div align=center>
<div style="margin:10px;background: url(C:/Users/aianisulislam/Desktop/DesignerCover.jpg);background-position: center;background-repeat:no-repeat;box-shadow:0px 1px 10px ;background-size: cover;padding-top:140px;width:960px;height:400px">
	
		<div style="width:75%;min-width:350px;height:100%;background-color:rgba(255,255,255,0.8)">
			<div style="padding-top:220px;margin-right:10px;float:left;border:5px solid #00a667;width:220px;height:100%;background:url(C:/Users/aianisulislam/Desktop/DesignerDP.jpg) #00a667 no-repeat;background-size:contain">
			<a href="#" style="background-color:#008553;border-radius:100px;padding:8px 60px 8px 60px;font-family:UbuntuL;color:#ededed;font-size:120%;font-weight:bold">Portfolio</a>
			</div>
			<p align=left style="margin-left:-10px;font-family:DUBIEL;line-height:100%;font-size:400%"> Anisul Islam<br>
			<span style="font-family:Nill;font-size:30%;font-weight:bold;line-height:140%;color:#008553"> Ghar Banao Interior Designing, Silchar
			</span></p>
			
			<h1 align=left style="font-family:DUBIEL;font-weight:bold;font-size:150%;color:#008553">The Designer	
				</h1>
			<div class="about" align=left style="margin-top:-10px;font-family:UbuntuL;color:#707070;font-size:90%;font-weight:bold">Amor cuerdo, no es amor
			</div>
			<h1 align=left style="font-family:DUBIEL;font-weight:bold;font-size:150%;color:#008553">The Designs	
				</h1>
			<div class="about" align=left style="margin-top:-10px;font-family:UbuntuL;color:#707070;font-size:90%;font-weight:bold">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut aliquip ex ea commodo consequat.
			</div>
			
			 
		</div>
</div>		
</div>